<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
<div>
<h1> SIGN IN OR REGISTER <h1>
</div>
<h2> SIGN IN <h2>
<h3> Make a sign in table for a user </h3>
<h3> REGISTER <h3>
<h3> Make a register page for 



<div>
    <footer class="footer">
        <a href="#top">Back to Top</a>
        <p> Posted by: Robbie Colborne</p>
        &copy; Copyright Robbie Colborne.
    </footer>
</div>

</body> 

