
<div>
    <h1 class = "title"> Find Coins </h1>
</div>
<div class = "searchbar">
    <h2> Search For Coins by Denomination </h2>
    <%= form_tag %>
    <%= text_field_tag("search")%>
    <%# text_field_tag creates a text box %>
    <%= submit_tag ("search") %>
    <%# sumbit_tag creates a search button for the user %>
</div>



