
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div class = "title">
        <h1> Welcome to Colborne Coins!</h1>
    </div>
    <div class ="photo">
        <%= image_tag "australiansilverandgoldcoins.jpg", alt: "Variety of different denominations of Australian coinage" %>
    </div>
    <div>
        <h2 class="headings"> What we are all about? </h2>
            <p class ="paragraphstyle"> The purpose of Colborne Coins is to facilitate the purchasing and selling of Australian coinage from federation to the modern day. At Colborne Coins, we have created a safe and secure application that allows for a hassle free and enjoyable environment for Australian coin enthusiasts. </p>
        <h3 class="headings"> Why Choose Us?</h3>
            <p class ="paragraphstyle"> Through the use of our rating system, you can be sure that the coins you are buying come from reputable deals. Each coin dealer must maintain a minimum customer satisfaction rating of 4.8. This ensures, that only the best and most reliable coin traders are able to use our website. 
    </div>
    <div>
        <%= render "shared/footer" %>
    </div>
</body> 




