.topnav {
    background-color: white;
    text-align: center;
    top: 0;
    position: fixed;
    width: 100%;
    font-size: 140%;
}

.topnav :visited {
    color: black;
}
.title {
    text-align: center;
    margin-top: 80px; 

}
.photo {
   text-align: center;
   

}

.headings {
    text-align: center;
}

body {
    background-color: rgb(136, 136, 255); 
}

.footer {
    text-align: center;
    margin-top: 5%;
}