
<body>
    <div>
        <%= render "shared/nav_bar" %>
    </div>
    <div>
        <h1> Sell Your Coins </h1>
    </div>
    <div>
        <h2> LIST YOUR COINS FOR SALE </h2>
        <h1>I NEED TO MAKE A TABLE THAT ALLOWS A USER TO ADD A COIN. THIS TABLE WILL ALLOW THE USER TO INPUUT A DESCRIPTION, TYPE, YEAR, CONDITION, PRICE AND UPLOAD AN IMAGE </h1>
    </div>
    <div>
        <h2> My Current Coins Listed For Sale </h1>
    <div>
        <h1> I NEED TO MAKE A TABLE THAT WILL LIST THE VARIOUS COINS THAT A USER HAS UP FOR SALE<h1>
    </div>    






<div>
    <footer class="footer">
        <a href="#top">Back to Top</a>
        <p> Posted by: Robbie Colborne</p>
        &copy; Copyright Robbie Colborne.
    </footer>
</div>

</body> 